/* Logo */
.site-logo {
    max-height: 200px;
    align-content: top;
    font-family: 'Lobster', cursive;
}

/* @import url('https://fonts.googleapis.com/css?family=Lobster'); */

/*
.site-header {
     font-family: 'Lobster', cursive;
} */

.site-description {
    font-family: 'Lobster', cursive;
    font-size: 100px;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.801);
    border-radius: 65px;
    width: 100%;
    height: 130px;
    position: relative; 
    top: 10px;
}

.post-card-content-link {
    text-align: justify;
}

.site-nav-left {
    font-size: 20px;
    font-weight: bold;
}

.page-number {
    font-size: 15px;
}

@media only screen and (max-width: 600px) {
    .site-description {
        font-size: 63px;
        font-family: 'Lobster', cursive;
        border-radius: 65px;
        top: 0px;
        height: 154px;
    }
    .site-logo {
        font-family: 'Lobster', cursive;
    }
}

.column-letra-musica {
    float: left;
    width: 390px;
    padding: 0px;
    /* height: 300px;*/ /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row-letra-musica:after {
    content: "";
    display: table;
    clear: both;
}

